<div class="header">
    <a routerLink="/singIn">
      <img src="../../../../../assets/images/logo-pequeño.png" class="logo" />
    </a>
    <h2 class="header-title">#ElDesafioEsContigo</h2>
  </div>
  <div class="container">
    <div class="card">
      <div>
        <img
          class="logo"
          src="/assets/images/Logo.png"
          alt="logo"
        />
        <p id="texto">
            Somos una compañía que desde sus inicios viene DESARROLLANDO EL TALENTO TANTO TÉCNICO 
            COMO HUMANO, para estar a la vanguardia de la industria de la tecnología GENERANDO SOLUCIONES
          DE ALTO IMPACTO para nuestros clientes con los que siempre trabajamos en equipo.
          U.<a
            class="link"
            href="https://api.whatsapp.com/send?phone=573193331091"
          >
            Click aquí y chatea con nosotros a través de WhatsApp</a
        >
        </p>
      </div>
    </div>
    <div class="forms">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="title">
    En sofka  potenciamos <span class="future">TU FUTURO</span>
  </div>
