.main-icon {
    height: 25px;
    width: 35px;
    vertical-align: text-bottom;
  }
  
  .main-app-toolbar {
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #d57e43;
  }