
.content {
    padding: 16px;
}

.content > mat-card {
    top: 18%;
    width: 290px;
    height: auto;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 15px;
}

.content>mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.container {
    position: relative;
    width: 80%;
    height: 100%;
    left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-content: center;
}

.mat-elevation-z4 {
    color: black;
    width: 100%;
}
.img {
    filter: grayscale(1);
    height: 200px;

}
.img2 {
    height: 200px;
}

.mat-elevation-z4:hover {
    box-shadow: 0cm;
    cursor: pointer;
}

.footer {
    text-align: center;
    position: relative;
    width: 90%;
    bottom: 0;
    height: 45px;
    color: #d57e43;
    left: 90%; 
    top: 105%;
}

.button-card {
    background-color: #d57e43;
}
  