<div class="container">
    <div class="content" *ngFor="
    let product of listProduts
      | paginate: { itemsPerPage: 6, currentPage: page }
  ">
        <mat-card class="mat-elevation-z4">
            <img mat-card-image src="{{product.imageUrl}}" class="img" />
            <mat-card-content>
                <mat-card-title>{{ product.name }}</mat-card-title>
                <p>
                   PRICE:  {{ product.price }}
                </p>

                <p>
                  GUANTITY:  {{ product.quantity }}
                </p>
                <p>
                    {{ product.description }}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <footer class="footer">
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </footer>
</div>
